@import url(../index.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.add-tags-container {
    display: flex;
    align-items: center;
    gap: 0.625em;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border: 1px solid var(--border-light);
    padding: 0.5em 1em;
    border-radius: var(--border-radius-4);
}

.tag-input {
    font-family: "Roboto";
    background-color: transparent;
    border: none;
    min-width: 9ch;
    font-size: 1em;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-size: 1em;
    background-color: var(--tag-background);
    padding: 0.25em 0.5em;
    border-radius: var(--border-radius-4);
    font-weight: 500;
}

.remove-icon {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}