@import url("../index.css");

.offer-title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

.offer-title-details {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
