@import url("../index.css");

.quill {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ql-toolbar.ql-snow {
    border: 1px solid var(--menu-hover-dark);
    border-radius: var(--border-radius-10) var(--border-radius-10) 0 0;
}

.ql-container.ql-snow {
    border: 1px solid var(--menu-hover-dark);
    border-radius: 0 0 var(--border-radius-10) var(--border-radius-10);
}

.ql-editor {
    font-size: 1.25em;
    max-height: 20em;
    min-height: 10em;
}

.ql-snow .ql-stroke {
    stroke: #eee;
}