.personal-profile-container {
    box-shadow: var(--card-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 0;
}

.personal-sidebar-card {
    height: fit-content;
    background-color: var(--white);
    border-radius: 0.625em 0.625em 0 0;
    padding: 1.25em 1.25em 0 1.25em;
    transition: all 1s ease-in-out;
}

.personal-sidebar-list {
    padding: 0 0 1.25em 0;
    height: fit-content;
    background-color: var(--white);
    border-radius: 0 0 0.625em 0.625em;
}