.personal-profile-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.personal-sidebar-card {
    height: fit-content;
    border-radius: var(--border-radius-10);
    padding: 1.25em;
    transition: all 1s ease-in-out;
    background-color: var(--card-background-dark);
    border: 1px solid var(--card-border-dark);
}

.personal-sidebar-list {
    height: fit-content;
    border-radius: var(--border-radius-10);
    background-color: var(--card-background-dark);
    border: 1px solid var(--card-border-dark);
}

.personal-sidebar-tags {
    height: fit-content;
    border-radius: var(--border-radius-10);
    padding: 1.25em;
    background-color: var(--card-background-dark);
    border: 1px solid var(--card-border-dark);
}