.home-main {
    background: url(../../../resources/img/mainbg2.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.header-home {
    height: 72px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    width: 100%;
}

.home-container {
    width: 100%;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
}